main {
  padding-top: 100px; 
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;        
  padding: 2rem;
  z-index: 1000;
  pointer-events: none; 
}

.header nav {
  pointer-events: auto;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.header nav li {
  margin-bottom: -0.1rem;
}

.header nav a {
  text-decoration: none;
  color: white;
  font-size: clamp(0.4rem, 2vw, 0.9rem);
  letter-spacing: 0.05rem;
  transition: color 0.2s ease-in-out;
}

.header nav a:hover {
  color: rgb(253, 152, 202);  
  /*color: rgb(27, 159, 203);*/
}


