.project-container {
    display: flex;
    align-items: stretch; 
    gap: 2rem;
    padding-bottom: 10%;
}
.projects-string {
    font-size: clamp(0.5rem, 6vw, 90px);
    margin: 0;
    padding-top: 0;
    padding-left: 15%;
    font-weight: 400;
    position: relative;
}
.vertical-rectangle {
    width: .5%;
    background-color: white;
    margin-left: 30.5%;
}
.project-content{
    display: flex;
    flex-direction: column;
    width: 53%;
}

.project-header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 10%;
}
.project-title {
    margin-right: 0;
    font-size: clamp(.5rem, 5vw, 2rem);
    font-weight: 400;

}
.project-dates{
    font-weight: 400;
    font-size: clamp(.1rem, 2vw, .9rem);
    margin: 0;
    text-align: right;

}
.paragraph{
    margin: 0;
    font-size: clamp(.1rem, 3vw, 1rem);
    font-weight: 350;
}
.links-content{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 10%;
}

.link-1, .link-2 {
    text-decoration: underline;
    color: inherit;
    font-size: clamp(.1rem, 1.5vw, .7rem);
    margin: 1%;
}

.link-1:hover, .link-2:hover {
  color: rgb(253, 152, 202);  
  /*color: rgb(27, 159, 203);*/
}
.link-1 img, .link-2 img{
    width: 20px;
    margin-bottom: -5px;
}
.image-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 2%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-color: white black; 
    scrollbar-width: thin;
    height: 100%;
}
/* WebKit (Chrome, Edge, Safari) */
.image-container::-webkit-scrollbar {
  height: 6px;
}

.image-container::-webkit-scrollbar-thumb {
  background-color: white;
  
}
.image-container img{
    width: 60%;
    height: auto;
    margin: 0;

}
.expanded-image {
  transform: scale(1.8);
  z-index: 10;
}


.image-container {
  display: flex;
  flex-wrap: nowrap;       
  flex-direction: row;
  gap: 1rem;
  transition: all 0.3s ease;
}

.project-image {
  width: 30%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, width 0.3s ease;
  border-radius: 8px;
      border: 0;
}

.project-image.expanded {
  width: 80%; 
}

.horizontal-line {
    width: auto;
    height: .1%;
    background-color: rgb(51, 49, 49);
    margin-top: 6%;
}

